* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3e5e1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    gap: 20px; /* Space between the images */
}

.cover-image {
    width: 400px; /* Adjust the width to fit your layout */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
